/* @author: Kedar Woolfolk, CSS page
Southern Illinois University Developed: 2-22-26  Tested: 2-22-26 */ 

@media only screen and (max-width: 2024px) {
    #mobile_menu {display: none;}
}
@media only screen and (max-width: 959px) {
    #mobile_menu {display: none;}
}
@media only screen and (max-width: 767px) {
    #mobile_menu {display: block;}
    #nav_menu { display: none }
    header h2 { font-size: 1.375em; }
    header h3 { font-size: .8125em; }
    p { font-size: 875em; }
    article h1, main h2, aside h2
    { font-size: 1em; }
    aside li { font-size: .875em; }
}
@media only screen and (max-width: 479px) {
    #mobile_menu {display: block;}
    #nav_menu { display: none }
    header h2 { font-size: 1.375em; }
    header h3 { font-size: .8125em; }
    p { font-size: 875em; }
    article h1, main h2, aside h2
    { font-size: 1em; }
    aside li { font-size: .875em; }   
}

body { 
    font-size: 1em;  
    width: 90%; 
    background-color: lightgray; 
    margin: 10px auto; 
}

header {
    width: 97.917%;             
    padding: 10px 1.0417%;
    clear: both;
    font-size: 2em;
}

main {
    width: 47.917%;
    padding: 10px  1.0417%;
    background-color: white;
    float: left;
}

aside {
    width: 47.917%;
    padding: 10px  1.0417%;
    background-color: white;
    float: right;
}

h1 {
    padding: 10px;
    font-size: 1.75em;
}

h2 {
    padding: 10px;
    font-size: 1.5em;
}

h3 {
    padding: 10px;
    font-size: 1.125em;
}

p {
    font-size: 1.125em;
    padding-left: 5px;
    padding-right: 5px;
}

blockquote {
    width: 47.917%; 
    padding: 10px  1.0417%;
    float: center;
}

footer {
    font-size: .75em;
    width: 97.917%; 
    padding: 10px 1.0417%;
    clear: both;
}

ul {
    padding-left: 10px;
}

li {
    padding-left: 10px;
}

#nav_menu ul {
    list-style-type: none;
    padding: 1em 0;
    font-size: 1.5em;
    text-align: left;
}

#nav_menu ul li {
   display: inline;
   padding: 0 1em;
}

#nav_menu ul li a {
    font-weight: bold;
    color: #ffffff;
}

#nav_menu ul li a.current {
    text-decoration: none;
}

.bluecorners img {
    border: 2px solid #B5d3e7;
    margin: 0;
    padding: 0;
    border-radius: 500px;
    position: relative;
    right: 10px;
    top: 10px;

}

img {
    position: static;
}
